@charset "UTF-8";
/* ------------------------------ */
/* リセットCSS */
/* ------------------------------ */
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* ------------------------------ */
/* カスタムプロパティ */
/* ------------------------------ */
/* カラー */
:root {
  --color-bg-primary: #f7f7f7;
  --color-bg-yellow: #f5c343;
  --color-bg-blue: #4173b2;
  --color-bg-red: #eb5b5b;
  --color-bg-white: #ffffff;
  --color-font-black: #333;
  --color-font-white: #fff;
}

/* コンテナ幅 */
:root {
  --width-content: 1080px;
}

/* フォント */
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
}

:root {
  --line-height-base: 1.8;
}

:root {
  --width-content-max: 1366px;
  --width-content: 1080px;
  --width-content-small: 920px;
}

/* -------------------------
全体共通のスタイル
------------------------- */
body {
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: var(--line-height-base);
  letter-spacing: 0.08em;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------
コンテナの幅、余白
------------------------- */
.l-container {
  width: 90%;
  margin: 0 auto;
  max-width: var(--width-content);
}

.l-container-max {
  width: 100%;
  margin: 0 auto;
  max-width: var(--width-content-max);
}

.l-container-small {
  width: 90%;
  margin: 0 auto;
  max-width: var(--width-content-small);
}

.c-button1 {
  max-width: 260px;
  margin: 0 auto;
  height: 55px;
  background-color: var(--color-bg-blue);
  box-shadow: 0 5px 0 #2d507c;
  color: var(--color-font-white);
  font-family: var(--font-family-base);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  display: inline-flex;
  letter-spacing: 0.1;
  padding: 19.5px auto;
  display: flex;
  place-items: center;
  border-radius: 100px;
  position: relative;
}
.c-button1::before, .c-button1::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-button1::before {
  margin-top: calc((1 - 1) * 0.5em);
}
.c-button1::after {
  margin-bottom: calc((1 - 1) * 0.5em);
}

.c-button2 {
  max-width: 260px;
  margin: 0 auto;
  height: 55px;
  border-radius: 100px;
  font-weight: 600;
  background-color: var(--color-bg-white);
  color: var(--color-bg-navy);
  border: solid 1px var(--color-bg-pink);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  display: inline-flex;
  letter-spacing: 0.1;
  padding: 19.5px auto;
  display: grid;
  place-items: center;
  text-transform: uppercase;
}
.c-button2::before, .c-button2::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-button2::before {
  margin-top: calc((1 - 1) * 0.5em);
}
.c-button2::after {
  margin-bottom: calc((1 - 1) * 0.5em);
}

.c-button-decoration::before {
  position: absolute;
  top: 38%;
  left: 8%;
}

.icon-github::before {
  font: var(--fa-font-solid);
  content: "\f121";
}

.icon-cloud::before {
  font: var(--fa-font-solid);
  content: "\f0b1";
}

.icon-contact::before {
  font: var(--fa-font-solid);
  content: "\f0e0";
}

.c-button--size-large {
  width: 100%;
  height: 55px;
  display: grid;
  place-items: center;
}

.c-button--ja {
  width: 100%;
  width: 324px;
  height: 55px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-white);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  display: inline-flex;
  letter-spacing: 0.1;
  padding: 19.5px auto;
  text-transform: uppercase;
  font-family: var(--font-family-base);
}
.c-button--ja::before, .c-button--ja::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-button--ja::before {
  margin-top: calc((1 - 1) * 0.5em);
}
.c-button--ja::after {
  margin-bottom: calc((1 - 1) * 0.5em);
}

@media screen and (min-width: 768px) {
  .c-button--big {
    width: 360px;
    padding: 18.5px 126px;
  }
}
.c-button--center {
  text-align: center;
}

.base-text {
  font-family: var(--font-family-base);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.08em;
  font-weight: 400;
  text-align: left;
}
.base-text::before, .base-text::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.base-text::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}
.base-text::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

.base-text--small {
  font-size: 14px;
}

.base-text--bold {
  font-weight: bold;
}

.c-title-level2 {
  color: var(--color-font-black);
  font-family: var(--font-family-base);
  line-height: 1.5;
  letter-spacing: 0.08em;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.c-title-level2::before, .c-title-level2::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-title-level2::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}
.c-title-level2::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

.c-title-level3 {
  color: var(--color-font-black);
  font-family: var(--font-family-base);
  line-height: 1.5;
  letter-spacing: 0.08em;
  font-size: 18px;
  font-weight: 600;
}
.c-title-level3::before, .c-title-level3::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-title-level3::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}
.c-title-level3::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}
.c-title-level3 span {
  display: block;
}

.c-title--center {
  text-align: center;
}

.c-card-item {
  padding: 30px 15px;
  border-radius: 15px;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .c-card-item {
    grid-row: 1/2;
  }
}
.c-card-item:last-child {
  margin-bottom: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
}

.header-inner {
  background-color: var(--color-bg-yellow);
  height: 60px;
  position: relative;
}

.header-contact {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--color-bg-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.top-mv-inner {
  margin-top: 60px;
  height: 360px;
}

.top-about {
  padding: 60px 0;
  background-color: var(--color-bg-primary);
}

.top-about-inner {
  text-align: center;
}

.top-about-balloon {
  background-color: var(--color-bg-white);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.top-about-img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.top-about-name {
  font-family: var(--font-family-base);
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.08em;
  font-weight: 600;
}
.top-about-name::before, .top-about-name::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.top-about-name::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}
.top-about-name::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

.top-about-text {
  margin-top: 30px;
}

.top-about-list {
  text-align: left;
  margin: 30px 0;
}

.top-about-item {
  list-style: disc;
  list-style-position: inside;
}

.top-about-button {
  margin-bottom: 15px;
}

.top-power {
  padding: 60px 0;
}

.top-power-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  margin-bottom: 40px;
}

.top-power-wrap:last-child {
  margin-bottom: 0;
}

.top-power-circle {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 100px;
  height: 100px;
  background-color: var(--color-bg-red);
  border-radius: 50%;
  border: solid 2px var(--color-bg-white);
  text-align: center;
}

.top-power-title {
  margin-bottom: 30px;
}

.top-power-img {
  margin-bottom: 15px;
}

.top-power-item-title {
  margin-bottom: 30px;
}

.top-power-text {
  padding: 0 18px;
}

.top-power-circle-text {
  font-family: var(--font-family-base);
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 600;
  color: var(--color-font-white);
}
.top-power-circle-text::before, .top-power-circle-text::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.top-power-circle-text::before {
  margin-top: calc((1 - 1) * 0.5em);
}
.top-power-circle-text::after {
  margin-bottom: calc((1 - 1) * 0.5em);
}

.top-works-list {
  position: relative;
  width: min(90%, 360px);
  margin-inline: auto;
  margin-bottom: 45px;
}

.top-works {
  padding: 60px 0;
  background-color: var(--color-bg-primary);
}

.top-works-title {
  margin-bottom: 30px;
}

.top-works-swiper-slide {
  background-color: var(--color-bg-white);
  border-radius: 30px;
  padding: 15px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.top-works-img {
  position: relative;
  margin-bottom: 15px;
}

.top-works-slide-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-bg-blue);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bg-white);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px !important;
  background-color: var(--color-bg-blue);
}

.swiper-button-prev {
  left: -30px;
}

.swiper-button-next {
  right: -30px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: var(--color-bg-yellow);
}

.top-news {
  padding: 60px 0;
}

.top-news-item {
  background-color: var(--color-bg-white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.top-news-item:last-child {
  margin-bottom: 0;
}

.top-news-date {
  color: gray;
}

.top-news-list {
  margin-bottom: 30px;
}

.footer {
  background-color: var(--color-bg-yellow);
}

.footer-inner {
  padding: 60px 0 30px 0;
  text-align: center;
}

.foter-text {
  text-align: center;
}

.footer-site-name {
  font-family: var(--font-family-base);
  line-height: 1.5;
  font-size: 24px;
  letter-spacing: 0.08em;
  font-weight: 600;
  margin-bottom: 45px;
}
.footer-site-name::before, .footer-site-name::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.footer-site-name::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}
.footer-site-name::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

.footer-link-list {
  margin-top: 15px;
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */